<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.2" targetFramework="net461" />
  <package id="LiteDB" version="4.1.4" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="SharpClipboard" version="3.3.0" targetFramework="net461" />
</packages>